$textColor : #000000;

body {
    font-family:'Lato';
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #FFFFFF;
    color: $textColor;
    letter-spacing: 0px;
    text-align: left;
    opacity: 1;
    .quanment {
        font-size: 21px;
    }
    .history {
        font-size: 15px;
    }
}